body {
    font-size: 1.1em;
    line-height: 1.5;
    font-family: 'Lora', serif;
    text-align: justify;
}

header {
    padding: 4.5em 0 5em;
    line-height: 1.6;
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
}

header h1:before {
    content: '#';
    display: block;
    float: left;
    line-height: 1;
    font-size: 2.83em;
    margin-right: .4em;
    font-family: 'Roboto Mono';
    color: #dcdcdc;
}

header h1 {
    font-size: 1.8em;
    font-weight: bold;
}

header h2 {
    font-size: 1.4em;
    font-style: italic;
}

article {
    margin: 0 0 3.5em;
}

h3 {
    font-size: 1.5em;
    margin: 2.8em 0 1em;
}

.centered {
    max-width: 850px;
    margin: 0 auto;
}

p {
    margin: 1.5em 0;
}

i {
    font-style: italic;
}

p a, p a:active, p a:visited {
    color: #555;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.88em;
    background: #f6f6f6;
    color: #777;
    padding: 3px 8px;
    margin: 0 4px;
    border-radius: 4px;
}

article {
	counter-reset: figures;
}

figure {
    margin: 4em auto;
    text-align: center;
    max-width: 1300px;
    font-style: italic;
}

figcaption {
    margin: 1.5em 0 1em;
	counter-increment: figures;
}

figcaption:before {
	content: 'Figure ' counter(figures) ': ';
}

.twitter-tweet {
    margin: 3em auto !important;
}